.page__about {
    background-image: url(/image/KARELIA/1.jpg);
    background-repeat: no-repeat;
    background-position: 50% 100%;
}

.main__about {
    width: 45%;
    padding: 2%;
    margin: 1% auto auto 10%;
    background-color: var(--tyre-shadow);
    text-align: center;
    font-weight: bold;
}

.main__about h1 {
    border-radius: 8px;
    color: var(--base-white);
    text-align: center;
}

.main__about p {
    padding: 10px;
    margin-bottom: 10px;
    text-indent: 5%;
}